$pearl-white: #faf8f6;
$light-lavender: #f1e4ef;
$midnight: #1a193a;
$fiery-orange: #f5683c;
$pale-orange: #f6866a;
$pale-rose: #ffe5de;
$pale-wine: #c6b3b1;
$metal-white: #ececec;
$primary-text-color: #605e5c; //#646260; //#7b7b78;
