@import "../../assets/partials/_colors";

.logo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: baseline;

  h1 {
    font-family: "Libre Baskerville", serif;
    font-size: 2rem;
    color: $midnight;
    font-weight: 550;
    padding: 0;
  }
}

.logo-alt {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: baseline;

  h1 {
    font-family: "Libre Baskerville", serif;
    font-size: 1.8rem;
    color: #fff;
    font-weight: 550;
    padding: 0;
  }
}

.nav-text {
  color: $primary-text-color;
}

.slogan {
  font-family: "Libre Baskerville", serif;
  font-size: 5.2rem;
  padding: 0;
  color: #000;
  animation: slideIn-Up 0.9s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.landing-image {
  height: 700px;
  width: auto;
  float: right;
  animation: slideIn-Up 0.9s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.text-image {
  height: 6rem;
  animation: slideIn-Up 0.9s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.cta-btn {
  background-color: $fiery-orange;
  animation: slideIn-Up 0.9s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.section-1__text {
  animation: slideIn-Up 0.9s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.section-1__link {
  animation: slideIn-Up 0.9s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.section-2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  &__highlight {
    color: $fiery-orange;
  }

  &__content-block {
    background-color: $light-lavender;
    min-height: 100%;
  }

  &__lead-text {
    font-family: "Libre Baskerville", serif;
    font-size: 2.8rem;
    color: $midnight;
    font-weight: 550;
  }

  &__subhead {
    color: $midnight;
    font-size: 1.2rem;
    letter-spacing: 0.025em;
    text-align: left;
    max-width: 200px;
  }
}

.section-3 {
  padding-top: 180px;
  padding-bottom: 180px;

  &__cta-btn {
    border: 2px solid $fiery-orange;
    color: $fiery-orange;
  }

  &__highlight {
    color: $fiery-orange;
  }

  &__lead-text {
    font-family: "Libre Baskerville", serif;
    font-size: 2.9rem;
    color: $midnight;
    font-weight: 550;
  }

  &__prod-title {
    font-family: "Libre Baskerville", serif;
    color: $midnight;
    font-weight: 550;
  }

  .col-span-4 {
    transform: translate3d(100%, 0, 0);
  }

  .slideIn-cols-In {
    .col-span-4 {
      animation: slideIn-Right 0.9s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
    }
  }
}

.section-4 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  &__content-block {
    background-color: $pale-rose;
    min-height: 100%;
  }

  &__lead-text {
    font-family: "Libre Baskerville", serif;
    font-size: 3rem;
    color: $midnight;
    font-weight: 550;
  }

  &__pill-image {
    width: 420px;
    height: 600px;
    background: url("../../assets/images/model2.png"), $pale-orange;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 100%;
    clip-path: inset(0% 0% 0% 0% round 240px);
  }
}

.pill-text {
  width: 150px;
  height: 200px;
  clip-path: inset(0% 0% 0% 0% round 240px 240px 0px 0px);

  &__serif {
    font-family: "Libre Baskerville", serif;
    color: $fiery-orange;
  }
}

.section-5 {
  &__highlight {
    color: $fiery-orange;
  }

  &__lead-text {
    font-family: "Libre Baskerville", serif;
    font-size: 3.2rem;
    color: $midnight;
    font-weight: 550;
  }

  &__box {
    border-top: solid 1px $pale-wine;
  }

  &__box:last-of-type {
    border-bottom: solid 1px $pale-wine;
  }

  &__box-header {
    color: $midnight;
  }
}

.arc-image {
  width: 470px;
  height: 550px;
  background: url("../../assets/images/bathroom.jpg"), $metal-white;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-x: 120%;
  background-position-y: 100%;
  clip-path: inset(0% 0% 0% 0% round 240px 240px 0px 0px);
  // animation: scale-bg 1500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  // animation-fill-mode: forwards;
}

.section-6 {
  &__lead-text {
    font-family: "Libre Baskerville", serif;
    font-size: 1.8rem;
    color: $midnight;
    font-weight: 550;
    max-width: 500px;
  }

  &__rounded-image {
    position: absolute;
    border: outset solid 10px $pearl-white;
    z-index: 1000;
    top: 10%;
    left: 900px;
    width: 400px;
    height: 400px;
    background: url("../../assets/images/model3.png"), $fiery-orange;
    background-origin: content-box;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 0%;
    clip-path: circle(50%);
    // animation: scale-bg 1500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    // animation-fill-mode: forwards;
  }
}

.section-7 {
  &__image-box {
    background-color: #ff8159; //$pale-orange;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 40px;

    p {
      color: #fff;
      text-align: center;
    }
  }

  &__footer {
    height: 500px;
    background-color: $midnight;
    margin-bottom: 0px;
    margin-top: 120px;
    padding-left: 144px;
    padding-right: 144px;
  }

  &__footer-nav {
    padding-top: 250px;

    h4,
    li {
      color: #fff;
    }

    li:not(li:nth-of-type(1)) {
      opacity: 0.8;
    }
  }

  &__sub-footer {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    padding: 2rem 4rem;
    background-color: $midnight;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    p {
      color: transparentize(#fff, 0.6);
      text-align: center;
    }
  }
}

.rotate-star {
  animation: rotate-infinite 6s linear infinite;
  transform-origin: 50% 50%;
  display: inline-block;
}

.slideIn-Up {
  animation: slideIn-Up 0.9s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.slideIn-Right {
  animation: slideIn-Right 0.9s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.scale-bg {
  animation: scale-bg 1500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: forwards;
}

.slideIn-Bottom-Left {
  animation: slideIn-Bottom-Left 0.9s cubic-bezier(0.215, 0.61, 0.355, 1)
    forwards;
}

.grow-Left {
  animation: slideIn-Bottom-Left 0.9s cubic-bezier(0.215, 0.61, 0.355, 1)
    forwards;
}

@keyframes rotate-infinite {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes slideIn-Up {
  0% {
    transform: translate3d(0, 75%, 0);
  }

  100% {
    transform: translate3d(0, 0%, 0);
  }
}

@keyframes slideIn-Right {
  0% {
    transform: translate3d(100%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes scale-bg {
  0% {
    background-size: 90%;
    transform: scale(1.2);
  }

  100% {
    background-size: 130%;
    transform: scale(1);
  }
}

@keyframes slideIn-Bottom-Left {
  0% {
    transform: translate3d(-50%, 50%, 0);
  }

  100% {
    transform: translate3d(0%, 0%, 0);
  }
}

@keyframes grow-left {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
